/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* default is content-box which will cause padding to be added to the width, not inducted in */
}

/* KEYFRAMES */
@keyframes fade-in-from-top {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px); /* sits where it should with 0px */
    }
}

/* BASE STYLES */
.app{
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    color: #000;
    background-color: #EDF1F3;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* STYLES */

/* HEADER */
.header {
    display: flex;
    align-items: center;
    background-color: #FFF;
}

.title{
    margin-right: auto;
    padding-left: 40px;
    font-size: 65px;
    animation: fade-in-from-top 0.5s;
}

.nav__list{
    display: flex;
    padding-right: 40px;
    column-gap: 100px;
    font-size: 17px;
    animation: fade-in-from-top 0.5s;
}

/* MAIN */

.main{
    padding: 50px 500px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    animation: fade-in-from-top 0.6s .33s backwards;
}

.main__block{
    background-color: #FFF;
    justify-content: s;
    padding: 10px 20px;
}

.block__list {
    padding-left: 15px;
}
.promo{
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 70px;
    width: 920px;
    height: 610px;
    padding: 30px;
    background-image: url(promo.jpg);
    
}

.emphasis{
    font-size: 125%;
    color: #b60303;
}

/* FOOTER */
.footer {
    font-size: 80%;
    opacity: .6;
    display: flex;
    padding: 10px;
    padding-top: 0px;
}
